{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT:700|Open+Sans:400,700,800&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Адвокат Шишков</title>
</head>
<body>
  <!-- Меню навигации  -->
  {% include 'partials/_navbar.html' %}
  <!-- Блок основного конента -->
  {% block content %} {% endblock %}
  {% include 'partials/_footer.html' %}
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
